@page "/pates/create"
@page "/pates/edit/{pateId:int}"

<div class="edit-pate">
    <EditForm Model="this.pate" OnValidSubmit="this.OnValidSubmitHandler">

        <DataAnnotationsValidator/>

        <div class="form-group">
            <label for="name">Name</label>
            <InputText class="form-control" id="name" @bind-Value="this.pate.Name" />
            <ValidationMessage For="(() => this.pate.Name)"/>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
</div>